[color]
	ui = auto

[push]
	default = simple

[fetch]
	prune = true

[alias]
    	plog = log --graph --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
	s = status
	c = commit
	a = add
	ps = push
	pl = pull

[init]
	defaultBranch = master
[pager]
	branch = cat
[core]
	editor = vim
	quotepath = false
[pull]
	rebase = false
[user]
	name = KAWAI Shun
	email = mypaceshun@gmail.com
[include]
	path = ~/.gitconfig.local
